/* for desktop */
@media only screen and (min-width: 768px){
  .menu{
    display: none;
  }
  .navbar{
  display: flex;
  width: 75%;
  font-family: 'Kodchasan', sans-serif;
  font-size: 18px;
  justify-content: space-around;
  margin-bottom: 50px;
  
}
/* unvisited link */
.nav-link:link {
  color:black
}

/* visited link */
.nav-link:visited {
  color: black;
}

/* mouse over link */
.nav-link:hover {
  color: orange;
}

/* selected link */
.nav-link:active {
  color: orange;
  font-weight: bold;
}
.top{
  display: flex; 
  flex-direction: column;
  align-items: center;
}
.title{
font-family: "aesthet-nova", serif;
font-size: 42px;
margin-top: 50px;
margin-bottom: 25px;

}
.subtitle{
font-family: 'Kodchasan', sans-serif;
text-decoration: underline;
font-size: 24px;
margin-bottom: 25px;
}
.hero{
  display: flex;
  justify-content: center;
}
.main{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "aesthet-nova", serif;
  font-weight: bold;
  width: 75%;
}
.aboutpic{
  width: 50%;
  height: auto;
  margin-bottom: 40px;
}
.heading{
  font-family: "aesthet-nova", serif;
  font-weight: bold;
  text-decoration: underline;
  font-size: large;
 

}}

/*for mobile*/

@media only screen and (max-width: 768px){
  .navbar{
  display: none;
}
.dropdown{
  background-image: url(imgs/SVG/tomato.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 85px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button{
  border: none;
  background: none;
  font-family: 'Kodchasan', sans-serif;
  font-weight: bold;
  color: white;
  font-size: 14px;
}
#dropdownlist{
  background-color: rgb(255, 77, 0);
  font-family: 'Kodchasan', sans-serif;
  text-align: center;
  color: white;
}
.dropdownitem{
  color: white;
 padding: 10px;
}
.menu{
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}
.top{
  display: flex; 
  flex-direction: column;
  align-items: center;
}
.title{
font-family: "aesthet-nova", serif;
font-size: 42px;

}
.subtitle{
  font-family: 'Kodchasan', sans-serif;
  text-decoration: underline;
  font-size: 32px;
}
.hero{
  display: flex;
  justify-content: center;
}
.main{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "aesthet-nova", serif;
  font-weight: bold;
  width: 350px;
}
.aboutpic{
  width: 336px;
  height: 252px;
  margin-bottom: 40px;
}
.heading{
  font-family: "aesthet-nova", serif;
  font-weight: bold;
  text-decoration: underline;
  font-size: large;
 }}